<!-- <form role="form" accept-charset="UTF-8" action="/users" class="sign_up" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="W0u6CgL+sA/n/Zecikl67zLqkIPePQz01Vg0u3bi2nc=" /></div>


<div class="col-md-6">
  <div class="card wow fadeInRight" data-wow-delay="0.3s">
    <div class="card-body">
        <div class="text-center">
          <h3 class="white-text"><i class="fa fa-user white-text"></i> Login:</h3>
          <hr class="hr-light">
        </div>

        <div class="md-form">
          <i class="fa fa-envelope prefix white-text active"></i>
          <input type="email" id="form2" class="form-control" name="user[email]"/>
          <label for="form2" class="active">Email</label>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix white-text active"></i>
          <input type="password" id="form4" class="form-control" name="user[password]"/>
          <label for="form4" class="active">Password</label>
        </div>

        <div class="text-center">
          <button class="btn btn-indigo">Sign In</button>
          <hr class="hr-light mb-3 mt-4">
        </div>
      </div>
    </div>
  </div>

</form> -->
