/*.intro-2 */

body {
    background: url("beerbg.jpg")no-repeat center center;
    background-size: cover;
}

.nav-item {
    list-style-type: none;
    padding-top: 15px;
    padding-right: 30px;
}

#quiz-here{
    /*background-color: red;*/
    float: right;
    left: 500px;
    position: relative;
    bottom: 500px;

}
